<header [hidden]="hiddenHeaderAndFooter()" id="header">
  <nav id="the-header" class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ms-5" aria-current="page" style="cursor: pointer"
               (click)="navigate('/dashboard')">
              <i class="bi bi-house-fill"></i>
              Trang chủ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-5" aria-current="page" style="cursor: pointer"
               (click)="navigate('/manage')">
              <i class="fa-regular fa-file-lines"></i>
              Hồ sơ
            </a>
          </li>
          <li class="nav-item active dropdown ms-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-menu-down"></i> Danh mục quản lý
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item"
                   style="cursor: pointer"
                   (click)="navigate('/donvi')">Quản lý đơn vị</a>
              </li>
              <li><a class="dropdown-item"
                     style="cursor: pointer"
                     routerLink="/phongban">Quản lý phòng ban</a></li>
              <li>
              <li>
                <a class="dropdown-item"
                   style="cursor: pointer"
                   (click)="navigate('/chucvu')">Quản lý vị trí/ chức vụ</a>
              </li>
              <li>
                <a class="dropdown-item" style="cursor: pointer"
                   (click)="navigate('/ngach')">Quản lý ngạch chức danh</a>
              </li>
            </ul>
          </li>
          <li class="nav-item active dropdown ms-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-menu-down"></i> Danh mục thông tin
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" style="cursor: pointer"
                   routerLink="/hinh-thuc-khen-thuong">Hình thức khen thưởng</a>
              </li>
              <li>
                <a class="dropdown-item" style="cursor: pointer"
                   routerLink="/hinh-thuc-ky-luat">Hình thức kỷ luật</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" style="cursor: pointer"
                     (click)="navigate('/dan-toc')">Danh mục dân tộc</a></li>
              <li>
                <a class="dropdown-item" style="cursor: pointer"
                   (click)="navigate('/ton-giao')">Danh mục tôn giáo</a>
              </li>

            </ul>
          </li>
        </ul>
        <div class="nav-item dropdown me-5">
          <a class="nav-link dropdown-toggle"
             style="font-size: 16px;"
             href="#" role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <i id="account-name" class="ms-1" [innerText]="setAccountName()"></i>
          </a>
          <ul class="dropdown-menu" id="menu-drop-acc">
            <li><a class="dropdown-item" style="cursor: pointer"
                   (click)="navigate('/my-account')">Thông tin tài khoản</a></li>
            <span *ngIf="checkQuyenTK() === 1">
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" style="cursor: pointer"
                     routerLink="/manage-account">
                <i class="fa-solid fa-users"></i>
                Quản lý tài khoản
              </a>
              </li>
            </span>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <button class="dropdown-item" (click)="signOut()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Đăng xuất
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<div id="main-container">
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start text-white"
        [hidden]="hiddenHeaderAndFooter()"
        style="background-color: #1c2331">

  <!-- Section: Links  -->
  <section class="pt-3">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">Trung Tâm Thông Tin</h6>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">LIÊN HỆ</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p><i class="fas fa-home mr-3 me-2"></i> Số 8 Tôn Thất Thuyết, quận Nam Từ Liêm, tp Hà Nội</p>
          <p><i class="fas fa-mail-forward mr-3 me-2"></i> <i>duy052001@gmail.com</i></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="https://github.com/dnguyen05">NGUYEN DUY</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
