<div id="main">
  <section id="section">
    <a (click)="navigate('/manage')"
       style="cursor: pointer;"
       class="link-primary btn-link text-decoration-none">
      <i class="fa-solid fa-angle-left"></i>
      Quay lại
    </a>
    <div class="content">
      <h5>Thông tin chi tiết hồ sơ cán bộ </h5>
      <h5> công chức, viên chức</h5>
    </div>
    <form #FormAdd="ngForm" (ngSubmit)="onAdd(FormAdd)">
      <table>
        <tbody>
        <tr>
          <td>
            <label>Số hiệu CBCCVC:</label>
          </td>
          <td>
            <input readonly type="text" class="form-control w-75"
                   [(ngModel)]="soHieuCB" name="soHieuCBCCVC" placeholder="CB...">
          </td>
          <td>
            <label>Ảnh:</label>
          </td>
          <td>
            <input type="file"
                   (change)="getFile($event)"
                   [accept]="'image/jpeg'"
                   ngModel name="imagePath">
          </td>
        </tr>
        <tr>
          <td>
            <label>Đơn vị:</label>
          </td>
          <td>
            <select [(ngModel)]="donViSelected" name="sdonVi"
                    [compareWith]='customCompareDV' [disabled]="true"
                    (change)="loadListPhongBan(donViSelected)"
                    id="inputDonVi" class="form-select ms-1 p-1 w-75">
              <option *ngFor="let item of listDonVi" [ngValue]="item">
                {{item.tenDonVi}}
              </option>
            </select>
            <input type="hidden" [ngModel]="donViSelected" name="donVi">
          </td>
          <td>
            <label>Phòng ban:</label>
          </td>
          <td>
            <select [(ngModel)]="phongBanSelected" name="sPhongBan"
                    [compareWith]='customComparePB'
                    id="inputPhongBan" class="form-select ms-1 p-1 w-75">
              <option disabled [value]="''"> --- Chọn phòng ban---</option>
              <option *ngFor="let item of listPhongBan" [ngValue]="item">
                {{item.tenPhongBan}}
              </option>
            </select>
            <input type="hidden" [ngModel]="phongBanSelected" name="phongBan">
          </td>
        </tr>
        <tr>
          <td>
            <label>Họ và tên:</label>
          </td>
          <td>
            <input readonly type="hidden" name="idHoSo">
            <input required type="text" class="form-control w-75"
                   ngModel name="hoVaTen">
          </td>
          <td>
            <label>Ngày sinh:</label>
          </td>
          <td>
            <input required type="date" class="form-control w-50"
                   ngModel name="ngaySinh">
          </td>
        </tr>
        <tr>
          <td>
            <label>Giới tính:</label>
          </td>
          <td>
            <select required [(ngModel)]="gioiTinhSelected" name="gioiTinh" id="inputGioiTinh"
                    class="form-select w-75 py-1 ps-3 s-gioi-tinh">
              <option [selected]="true" [disabled]="true" [value]="''">--- Chưa xác định ---</option>
              <option>Nam</option>
              <option>Nữ</option>
            </select>
          </td>
          <td>
            <label>Nơi sinh:</label>
          </td>
          <td>
            <select required [(ngModel)]="noiSinhSelected"
                    name="noiSinh" id="inputNS"
                    class="form-select w-50 ms-1 py-1 ps-3">
              <option *ngFor="let tinhThanh of provinces">{{tinhThanh}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Hộ khẩu thường trú:</label>
          </td>
          <td colspan="4">
            <input required type="text" class="form-control w-75"
                   ngModel name="hoKhauThuongTru">
          </td>
        </tr>
        <tr>
          <td>
            <label>Nơi ở hiện tại:</label>
          </td>
          <td colspan="4">
            <input required class="w-75 form-control" type="text"
                   ngModel name="noiOHienTai">
          </td>
        </tr>
        <tr>
          <td>
            <label>Dân tộc:</label>
          </td>
          <td>
            <select required ngModel name="danToc"
                    id="inputDanToc" class="form-select w-75 ps-3 p-1 ms-1">
              <option selected disabled value=""> --- Chưa xác định ---</option>
              <option *ngFor="let itemdt of listDanToc" [value]="itemdt.maDanToc">
                {{itemdt['tenDanToc']}}
              </option>
            </select>
          </td>
          <td>
            <label>Tôn giáo:</label>
          </td>
          <td>
            <select required ngModel name="tonGiao"
                    id="inputTonGiao"
                    class="form-select w-75 p-1 ps-3 ms-1 mt-2">
              <option selected disabled value=""> --- Chưa xác định ---</option>
              <option *ngFor="let itemdt of listTonGiao" [value]="itemdt.maTonGiao">
                {{itemdt['tenTonGiao']}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Số CMND/CCCD:</label>
          </td>
          <td>
            <input required type="number" class="form-control w-75"
                   ngModel name="soCmnd">
          </td>
          <td>
            <label>Vị trí/ Chức vụ:</label>
          </td>
          <td>
            <select required ngModel name="chucVu"
                    id="inputChucVu"
                    class="form-select ms-1 mt-2 w-75 ps-3 p-1">
              <option value="" disabled>--- Chọn vị trí công việc/ Chức vụ ---</option>
              <option *ngFor="let item of listChucVu" [value]="item.maChucDanh">
                {{item['tenChucDanh']}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ngày nhận vị trí/ bổ nhiệm:</label>
          </td>
          <td>
            <input required type="date" class="form-control w-75"
                   ngModel name="ngayBoNhiem">
          </td>
          <td>
            <label>Ngạch:</label>
          </td>
          <td>
            <select required [(ngModel)]="maNgachSelect" name="maNgach"
                    id="ngachChucDanh" (change)="setBacLuong()"
                    class="form-select w-75 p-1 ps-3 ms-1 mt-2">
              <option [selected]="true" [disabled]="true" value="">--- Chọn ngạch ---</option>
              <option *ngFor="let item of listNgach" [value]="item.maNgach">
                {{item['tenNgach']}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Bậc lương:</label>
          </td>
          <td>
            <input type="number" class="form-control w-25"
                   [(ngModel)]="bacLuong" name="bacLuong" id="bacLuong"
                   min="1" max="12" (change)="tinhHeSo(maNgachSelect)">
          </td>
          <td>
            <label>Hệ số lương:</label>
          </td>
          <td>
            <input type="number" class="form-control w-25"
                   [(ngModel)]="heSoLuong" name="heSoLuong" id="heSoLuong" readonly [min]="0">
          </td>
        </tr>
        <tr>
          <td>
            <label>Phụ cấp vượt khung:</label>
          </td>
          <td>
            <input type="number" class="form-control w-50"
                   [ngModel]="pcVuotKhungValue" name="phuCapThamNienVuotKhung" [defaultValue]="0" [min]="0">
          </td>
          <td>
            <label>Phụ cấp chức vụ:</label>
          </td>
          <td>
            <input type="number" class="form-control w-50"
                   [ngModel]="pcChucVuValue" name="heSoPhuCapChucVu" [defaultValue]="0" [min]="0">
          </td>
        </tr>
        <tr>
          <td>
            <label>Ngày vào Đảng CSVN:</label>
          </td>
          <td>
            <input type="date" class="form-control w-50"
                   ngModel name="ngayVaoDcsvn">
          </td>
          <td>
            <label>Số thẻ đảng:</label>
          </td>
          <td>
            <input type="text" class="form-control w-50"
                   ngModel name="soTheDang">
          </td>
        </tr>
        <tr>
          <td>
            <label>Trình độ giáo dục phổ thông:</label>
          </td>
          <td>
            <select [(ngModel)]="trinhDoGDPTSelected" name="trinhDoGDPT" required class="form-select w-50 p-2 ms-1">
              <option [selected]="true">12/12</option>
              <option>10/10</option>
            </select>
          </td>
          <td>
            <label>Trình độ chuyên môn:</label>
          </td>
          <td>
            <select [(ngModel)]="trinhDoChuyenMonSelected" name="trinhDoChuyenMon"
                    required class="form-select w-50 p-2 ms-1">
              <option>Tiến sĩ</option>
              <option>Cao học</option>
              <option>Đại học</option>
              <option>Cao đẳng</option>
              <option>Trung cấp</option>
              <option>Sơ cấp</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Học vị:</label>
          </td>
          <td>
            <select [(ngModel)]="hocViSelected" name="hocVi" required class="form-select w-50 p-2 ms-1">
              <option [selected]="true">Không</option>
              <option>Tiến sĩ khoa học</option>
              <option>Tiến sĩ</option>
              <option>Thạc sĩ</option>
              <option>Cử nhân/Kỹ sư</option>
              <option>Tú tài</option>
            </select>
          </td>
          <td>
            <label>Học hàm:</label>
          </td>
          <td>
            <select [(ngModel)]="hocHamSelected" name="hocHam" required class="form-select w-50 p-2 ms-1">
              <option [selected]="true">Không</option>
              <option>Giáo sư</option>
              <option>Phó giáo sư</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ngoại ngữ:</label>
          </td>
          <td>
            <select [(ngModel)]="ngoaiNguSelected" name="ngoaiNgu" required class="form-select w-50 p-2 ms-1">
              <option [selected]="true">Không</option>
              <option>Anh</option>
              <option>Nga</option>
              <option>Pháp</option>
              <option>Đức</option>
              <option>Trung</option>
              <option>Nhật</option>
              <option>Hàn</option>
            </select>
          </td>
          <td>
            <label>Tin học:</label>
          </td>
          <td>
            <select [(ngModel)]="tinHocSelected" name="tinHoc" required class="form-select w-50 p-2 ms-1">
              <option [selected]="true">Cơ bản</option>
              <option>Nâng cao</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Bảo hiểm xã hội:</label>
          </td>
          <td>
            <input type="text" class="form-control w-50"
                   ngModel name="soBaoHiemXh">
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <article class="d-flex align-content-center justify-content-center">
              <button type="submit" class="btn btn-success py-2 px-3 mt-5 me-5"
                      [disabled]="FormAdd.invalid">
                <i class="fa-solid fa-floppy-disk me-1"></i>
                Xác nhận
              </button>
              <input type="button" (click)="setSoHieuCB()" value="Nhập lại"
                     class="btn btn-secondary py-2 px-3 mt-5">
            </article>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </section>
</div>
<div id="liveAlertPlaceholder" class="w-25" style="position: fixed; right: 30px; bottom: 16px;"></div>
